<section id="registerPage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4">
        <app-message></app-message>
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">Registration</h4>
            <hr>
            <form>
              <div class="form-group">
                <label for="name" class="form-group-control">Name</label>
                <input type="text" name="name" [(ngModel)]="NewUser.name" class="form-control">
              </div>
              <div class="form-group">
                <label for="name" class="form-group-control">Email</label>
                <input type="email" name="name" [(ngModel)]="NewUser.email" class="form-control">
              </div>
              <div class="form-group">
                <label for="name" class="form-group-control">Password</label>
                <input type="password" name="name" [(ngModel)]="NewUser.password" class="form-control">
              </div>
              <div class="form-group">
                <label for="name" class="form-group-control">Conform passowrd</label>
                <input type="password" name="name" [(ngModel)]="NewUser.password1" class="form-control">
              </div>
         
              <button type="submit" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="register()" [disabled]="btndisabled"> Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>