
<nav class="navbar  navbar-expand-md  navbar-dark bg-secondary">
  <div class="container-fluid">
    <a routerLink ="/" class="navbar-brand">
          <img src="https://pbs.twimg.com/profile_images/2417212665/Logo_Small_400x400.jpg" width="30px" height="30px" alt="" id="logo">
    </a>
    <div class=" text-white text-uppercase ">
      <h4>Ideotic Web App</h4>
    </div>

    <button class="navbar-toggler" (click)="isCollapsed =!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" style="align-items:left; margin-left:50px" class="collapse navbar-collapse flex-column" id="navbarNav">
    
      <div class="w-100">
        <ul class="navbar-nav text-danger">
         
          <li class="nav-item ml-0 ml-md-auto text-light" ngbDropdown #dropdown="ngbDropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-user mr-1"></i>
              <span  >Account</span>
              <!-- <span *ngIf="dataservice.user.name">{{dataservice.user.name}} </span> -->
            </a>
            <div ngbDropdownMenu class="dropdown-menu text-white">
                <a  *ngIf="!getToken()"   (click)="closeDropDown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> login
                </a>
                <a  *ngIf="getToken()" (click)="closeDropDown(dropdown);collapse(); logout()"  class="dropdown-item text-danger">
                  <i class="fa fa-key" aria-hidden="true"></i> logout
                  </a>
                  <a  *ngIf="!getToken()"  (click)="closeDropDown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                    <i class="fa fa-group" aria-hidden="true"></i> Register
                    </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
