<section id="loginpage">
  <div class="container p-5">
      <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4">
          <app-message></app-message> 
          <label>Demo Username: b@a.com,</label>
          <label>Demo Password: 123456</label>
          <div class="card bg-light">
            <div class="card-body">
              <h4 class="text-center">
                login
              </h4>
              <hr>
              <form>
                <div class="form-group">
                  <label >Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="loginUser.email">
                </div>
                <div class="form-group">
                  <label >passoword</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="loginUser.password">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()" [disabled]="btnDisabled">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>